<title>EmojiBattle</title>

<style>
#left {
    background-color: #ddddff;
}

#right {
    background-color: #ffdddd;
}

#pond {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.cell {
    width: 40%;
    height: 40%;
    text-align: center;
    margin: 2%;
    font-size: 400%;

      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none;   /* Firefox all */
      -ms-user-select: none;  /* IE 10+ */
       user-select: none;  /* Likely future */
}

.highlightAns {
 background-color: orange;
}

.header {
    text-align: center;
    font-size: 200%;
}



span.clickedNumber {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  position: absolute;
  opacity:0;
  /* the standard nobody seems to use */
  animation: animationFrames ease-in 1s; /* animation is 0ne second easing in (getting faster)*/
  animation-iteration-count: 1;   /* animation happens once */
}



/* the key frames one style for each browser  and the standard one for some one else*/
@keyframes animationFrames{  /* the standard nobody seems to use */
  0% { transform: translateY(0px); opacity:1;}  /* start 20 pixels down  and vissable */
  100% { transform: translateY(-40px); opacity:0;} /* move up to 217 pixels while fading out */
}

</style>

<div class="header">EmojiBattle<br>vs.</div>

<div id="pond">
    <div class="cell" id="left"></div>
    <div class="cell" id="right"></div>
    <div class="cell" id="leftscore"></div>
    <div class="cell" id="rightscore"></div>
    <div class="cell" id="leftinfo"></div>
    <div class="cell" id="rightinfo"></div>
</div>

<div id="log">

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

<script>

function plusOne(event) {
    var span = document.createElement('span')
    span.classList.add("clickedNumber")
    span.innerHTML = "+1";
    span.style.left = event.originalEvent.clientX
    span.style.top = event.originalEvent.clientY
    document.body.appendChild(span)
    setTimeout(function(){
      $(span).remove();
  }, 2000);
}

$(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    socket.on('newnumber', function(msg) {
        //$('#log').append('<p>Received: ' + msg + '</p>');
        $("#left").text(msg.a)
        $("#right").text(msg.b)
    });

    socket.on("newratings", function(msg) {
        //$('#log').append('<p>Received: ' + JSON.stringify(msg) + '</p>');
        $("#leftscore").text("#" + msg[2] + " - " + msg[0])
        $("#rightscore").text("#" + msg[3] + " - " + msg[1])
    })

    socket.on("diffs", function(msg) {
        //$('#log').append('<p>Received: ' + JSON.stringify(msg) + '</p>');
        $("#leftinfo").text(msg[2] + " " + msg[0])
        $("#rightinfo").text(msg[3] + " " + msg[1])
    })

    // TODO also on mobile tap, vclick?
    $('#left').on("click tap", function(event) {

        plusOne(event)

        // Add highlightAns class
          $("#left").addClass("highlightAns")

       // Remove that class after 2 seconds
         setTimeout(function(){
              $("#left").removeClass("highlightAns")//.fadeOut("slow");
         },2000);


        socket.emit('click', {data: 0});
        return false;
    });
    $('#right').on("click tap", function(event) {

        plusOne(event)

        socket.emit('click', {data: 1});
        return false;
    });
});
</script>
